.inicio-contenedor {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* alinea arriba */
  align-items: center;
  padding-top: 80px; /* sube el texto */
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  background-image: url('https://img.freepik.com/foto-gratis/conduccion-nocturna_23-2151955605.jpg?semt=ais_hybrid&w=740');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* Capa oscura encima de la imagen */
.inicio-contenedor::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen */
  z-index: 1;
}

/* Texto encima de la capa oscura */
.inicio-contenedor h1,
.inicio-contenedor p {
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.5rem;
}
