<div class="inicio-contenedor">
  <div class="contenido">
    <h1 class="titulo-principal">BIENVENIDO AL CATÁLOGO DE AUTOS</h1>
    <p class="subtitulo">Explora los modelos, tipos y años de tus marcas favoritas</p>

    <h2 class="marcas-disponibles">Marcas Disponibles</h2>
    <br>
    <div class="marcas">
      <span>🚗 Toyota</span>
      <span>🚙 Kia</span>
      <span>🚘 Hyundai</span>
      <span>🚕 Nissan</span>
      <span>🚗 Chevrolet</span>
      <span>🚙 Suzuki</span>
    </div>

    <div></div>
  <br>
  <br>

    <div class="contacto-fijo">
      <p><strong>📞 Teléfono:</strong> 956 248 247</p>
      <p><strong>💬 WhatsApp:</strong> 956 248 247</p>
      <p><strong>📍 Ubicación:</strong> Andahuaylas, Perú</p>
    </div>
  </div>
</div>
