.marca-buttons button,
.info-buttons button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.marca-buttons button:hover,
.info-buttons button:hover {
  background-color: #0056b3;
}

.info-buttons {
  margin-top: 15px;
}

.info-list {
  margin-top: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
