/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD

=======
<<<<<<< HEAD
>>>>>>> f4c84f563d3c36d951a2690807d1e894daef115e
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
<<<<<<< HEAD
=======
=======
>>>>>>> cd5dae4892977b3b4e579ff5ae28d53469f49f27
>>>>>>> f4c84f563d3c36d951a2690807d1e894daef115e
